node_modules
.env
.env*
*.yaml
!index.yaml
!cloudbuild.yaml
public/js/swg-local.js
public/js/swg-local.mjs
public/js/swg-gaa-local.js
public/js/swg-gaa-local.mjs
public/js/swg-basic-local.js
public/js/swg-basic-local.mjs
public/js/publisher-local.js
public/js/publisher-local.mjs
public/js/swg.js
public/assets/i18n
public/assets/loader.svg
public/assets/swg-button.css
public/assets/swg-mini-prompt.css